.bg {
  position: fixed; 
  top: 10%;
  height: 90%;
  width: 100%;
  background-color: #d1dbbd;
  z-index: -10;
}

.box {
  height: 75vh;
  width: 68%;
  margin: 17vh auto;
  display: grid;
  grid-template-columns: 30% 40% 26%;
  grid-template-rows: 62% 36%;
  grid-gap: 2%;
}

.button1Pos {
  grid-row: 1 / 3;
}

.button4Pos {
  grid-column: 2 / 4;
}

.buttonBG {
  height: 100%;
  width: 100%;
  background-color: #313540;
  border-radius: 5px;
}

.text1 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 55px;
  margin-top: -56%;
  z-index: 10;
}

.text2 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 43px;
  z-index: 10;
  margin-top:5%;
}

.text3 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 38px;
  z-index: 10;
  margin-top:-1%;
}

.text4 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  margin-top: 14%;
  z-index: 10;
}

.guessVideo {
  width: 100%;
  height: 100%;
  margin-top: -5%;
}

.mixVideo {
  width: 50%;
  height: 50%;
  margin-left: 0;
  margin-top:50px;
}

img {
  width: 80%;
  height: 60%;
  margin-top: 20%;
}
